<footer class="footer">
  <h2 class="menu-footer-title">
    <a href="/">Service</a>
  </h2>
  <ul class="menu-footer-list">
    <a href="https://www.rvig.nl/service/contact-met-rvig">Contact</a>
  </ul>
</footer>
