<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Documentatie</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://brp-api.github.io/devportal-poc/brp-api/overview">BRP API</a>
            <a class="navbar-item" href="#">Berichten API</a>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-spacer">
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Zoeken" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>