<div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Documentatie</a>
            <div class="navbar-dropdown">
                <a class="navbar-item" href="https://developer.rvig.nl/brp-api/overview">BRP API</a>
                <a class="navbar-item" href="https://developer.rvig.nl/lo-brp/">LO BRP</a>
            </div>
        </div>
    </div>
</div>