<div id="topbar-nav" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="#">Documentatie</a>
            <div class="navbar-dropdown">
                <div class="navbar-item item-title">API's</div>
                <a class="navbar-item" href="https://developer.rvig.nl/brp-api/">BRP API</a>
                <hr class="navbar-divider">
                <div class="navbar-item item-title">Logisch Ontwerp</div>
                <a class="navbar-item" href="https://developer.rvig.nl/lo-brp/">LO BRP</a>
                <a class="navbar-item" href="https://developer.rvig.nl/lo-brpk/">LO BRPk</a>
                <a class="navbar-item" href="https://developer.rvig.nl/lo-pbk/">LO PBK</a>
            </div>
        </div>
    </div>
</div>