<div class="landing">
  <div class="welcome">
    <h1>RvIG voor Developers</h1>
  </div>
</div>
<div class="landing-content">
  <p>Welkom bij RvIG voor Developers. Hier vind je documentatie over de verschillende API's die door RvIG worden aangeboden.</p>
  <p>Gebruik de navigatiebalk bovenaan om door de documentatie te bladeren.</p>
</div>