footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

footer.footer h2.menu-footer-title {
  font-size: calc(18 / var(--rem-base) * 1rem);
  margin: 0;
  padding: 0;
}

footer.footer ul.menu-footer-list {
  list-style: none;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}
